ul{list-style: none;}

.flex-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.flex-item{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background-color: orangered;
  color: white;
  margin: 20px;
  padding: 25px;
}
@media (max-width:576px) {
  .flex-container{
    flex-wrap: wrap;
  }
  .flex-item{
    flex-basis: 30%;
  }
}
