.container{
  width: 400px;
  border: 1px solid lightgray;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
}

#Going{
  padding: 30px;
  background-color: red;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}

#notGoing{
  padding: 30px;
  background-color: red;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}

.explanationText{
  padding: 20px;
  text-align: center;
}

.extra{
  width: 300px;  
  height: 50px;  
  padding: 20px;
  background-color: yellow;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}

.btnContainer{
  display: flex;
  justify-content: center;
  
  
}

.even{
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: yellow;
  width: 100px;
  margin: 10px;
}

.odd{
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: red;
  width: 100px;
  margin: 10px;
}

.mystyle{
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: yellow;
  width: 100px;
  margin: 10px;
}

.mystyle{
  display: inline-block;
  padding: 50px;
  text-align: left;
  border-radius: 10px;
  background-color: yellow;
  border: 2px;
  border-style: solid;
  border-color: brown;
  margin: 10px;
}

.mystyle{
  display: inline-block;
  padding: 50px;
  text-align: left;
  border-radius: 10px;
  background-color: yellow;
  border: 2px;
  border-style: solid;
  border-color: brown;
  margin: 10px;
}
